@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1067px;
  margin: 0 auto;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 35px 0;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list_item {
  padding: 0 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #292a2d;
}

.header__btn * {
  font-size: 12px;
  display: inline-block;
}

.header__btn_login {
  color: #292a2d;
}

.main__btn {
  display: inline-block;
  color: #292a2d;
  color: #eeece3;
  padding: 13px 26px;
  background: #292a2d;
  border-radius: 21px;
  margin-left: 34px;
}

.header__btn_search {
  margin-left: 25px;
}

/* section finance */
.finance {
  margin-bottom: 38px;
}
.finance__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #292a2d;
  border-bottom: 1px solid rgba(91, 102, 111, 0.25);
}

.finance__title,
.finance__subtitle {
  font-size: 42px;
  letter-spacing: 2px;
}

.finance__subtitle {
  font-size: 33px;
  line-height: 1.26;
  margin-bottom: 33px;
}

.finance__info {
  font-size: 13px;
  line-height: 1.5;
  max-width: 328px;
  margin-bottom: 21px;
}

.main__btn_default {
  margin-left: 0;
}

.finance__img img {
  max-width: 467px;
}

.startup__hint {
  font-size: 10px;
  line-height: 1.2;
  color: #73726c;
  max-width: 140px;
  margin-bottom: 4px;
}
.startup__body {
  max-width: 506px;
  margin: 0 auto;
}
.startup__card {
  color: #004250;
  padding: 17px 26px 10px;
  border: 1px solid rgba(41, 42, 45, 0.15);
  border-radius: 29px;
  margin-bottom: 12px;
}
.startup__card_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.startup__card_text {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 9px;
}
.card__links a {
  font-size: 12px;
  line-height: 1.5;
  margin-right: 17px;
}

.startup .main__btn {
  background: #004250;
}
.startup__title {
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  color: #292a2d;
  margin-bottom: 21px;
}
.startup__subtitle {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: #292a2d;
  margin-bottom: 65px;
}
